  * {
      box-sizing: border-box;
      font-family: Arial, sans-serif;
    }

    body {
      height: 100vh;
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #f2f4f8;
    }
 
 .login-box {
      width: 420px;
      padding: 40px;
      background: var(--header);
      border-radius: 12px;
      box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
    }

    .login-box h2 {
      text-align: center;
      font-size: 28px;
      margin-bottom: 30px;
    }

    .login-box input {
      width: 100%;
      padding: 14px;
      margin-bottom: 20px;
      font-size: 16px;
      border-radius: 8px;
      border: 1px solid #ccc;
    }

    .login-box input:focus {
      outline: none;
      border-color: #4f46e5;
    }

    .login-box button {
      width: 100%;
      padding: 14px;
      font-size: 18px;
      border: none;
      border-radius: 8px;
      background: var(--btn);
      color: #000000;
      cursor: pointer;
    }

    .login-box button:hover {
      background: var(--btn-hover);
    }

    .login-box p {
      margin-top: 20px;
      text-align: center;
      font-size: 14px;
      color: #555;
    }