.login{
    background-color: var(--header);
    color: white;
    width: 40%;
    height: 60vh;
    margin: 100px auto;
    padding: 20px;
    border-radius: 10px; 
    font-size: 25px;

}

.login h2, .login input, .login h1{
    margin-bottom: 0;
    font-weight: bold;
}

.head{
    text-align: center;
    margin-bottom: 100px;
}

.div1 .btn{
    display: block;
    margin-top: 10%;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}